<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="description" content="" />

		<link rel="shortcut icon" href="/static/img/favicon.ico" />
		<link href="/static/css/semantic.min.css" rel="stylesheet" />
		<link href="/static/css/wuxia.css" rel="stylesheet" />

		<script type="text/javascript" src="/static/js/jquery-3.1.0.min.js"></script>
		<script type="text/javascript" src="/static/js/semantic.min.js"></script>
		<script type="text/javascript" src="/static/js/wuxia.js"></script>
		<title>{{.Title}}</title>
	</head>
	<body>
