<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="description" content="" />

		<link rel="shortcut icon" href="/static/img/favicon.ico" />
        <link rel="stylesheet" href="/static/css/mobi.min.css"/>
        <link href="/static/css/wuxia.css" rel="stylesheet" />

		<script type="text/javascript" src="/static/js/wuxia.js"></script>
		<title>{{.Title}}</title>
        <meta name="description" content="{{.Description}}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	</head>
	<body>
