
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="description" content="" />

		<link rel="shortcut icon" href="/static/img/favicon.ico" />
        <link rel="stylesheet" href="/static/css/mobi.min.css"/>
        <link href="/static/css/wuxia.css" rel="stylesheet" />

		<script type="text/javascript" src="/static/js/wuxia.js"></script>
		<title>{{.Title}}</title>
        <meta name="description" content="{{.Description}}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	</head>
	<body>
		<div class="container">
			<div class="row mt-15 ">
				<div class="col text-center">
					<h1>Wu: The static dream</h1>
				</div>
			</div>
			<div class="row">
				<div class="col">
				</div>
				<div class="col-1-2 flex-right">
					<a href="/features" class="btn">features</a>
					<a href="/docs" class="btn ">docs</a>
					<a href="/download" class="btn ">download</a>
					<a href="/account" class="btn ">account</a>
				</div>
			</div>
		</div>
	</body>
</html>
